<aside class="side-nav">
    <button class="btn btn-block">
        <i class="fa fa-home " aria-hidden="true"></i>
        <a href="~/Home/Index">Home</a>
    </button>
    @*<button class="btn btn-block">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <a href="#">Category</a>
        </button>
        <button class="btn btn-block">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <a href="#">Products</a>
        </button>
        <button class="btn btn-block">
            <i class="fa fa-tasks" aria-hidden="true"></i>
            <a href="#">Appointments</a>
        </button>*@
</aside>
