
@{
    ViewBag.Title = "New";
}

<div class="container" style="  text-align:center">
    <div style="color:deepskyblue">
        <h1>Order Appointment has been Submitted!</h1>
    </div>
    <div class=" container" margin-left:50px; margin-top:50px;>
        <img src="~/Images/appointmentImage.jpeg" height="250" width="250" />
    </div>
    <br />
    <div style="color:blueviolet">
        <h6>
            We will reach out within one business day confirm your appointment and we look forward to helping you witb best quality
            and service at the lowest price!
        </h6>
        <h6>If you have any questions feel free to reach out at 000-000-0000</h6>
    </div>
</div>


